extends ./layout.pug


block content

  #pantalla

  .row
    .col.s4.yellow.lighten-5
      .row
        .section
          h5(class="center-align") Yellow Tank Status
          .section

            .row
              .col.s6
                .section
                  h6(class="center-align") Y
                    p(id="y" class="center-align") 0
              .col.s6
                .section
                  h6(class="center-align") X
                    p(id="x" class="center-align") 0 

            .row
              .col.s12
                .section
                  h5(class="center-align") Life
                    p(id="yellowLife") 100

    .col.s4.brown.lighten-4
      .row
        .col.s12
          .section
            .h5(class="center-align") Game Sesion
              .h6(class="center-align" id="gameSesion") 

    .col.s4.grey.lighten-5
      .row
        .section
          h5(class="center-align") Yellow Tank Status
          .section

            .row
              .col.s6
                .section
                  h6(class="center-align") Y
                    p(id="yG" class="center-align") 0
              .col.s6
                .section
                  h6(class="center-align") X
                    p(id="xG" class="center-align") 0 

            .row
              .col.s12
                .section
                  h5(class="center-align") Life
                    p(id="grayLife") 100


  script(src='/static/lib/phaser.min.js')
  script(src='/static/lib/jquery-3.2.1.min.js')
  script(src='/static/js/canvas.js')
  





